<!-- <button mat-raised-button color="primary" (click)="sendOnClick()">Primary</button> -->
<div >
  <form [formGroup]="usernameSendingFrmGrp" (ngSubmit)="sendUsername()">
    <mat-form-field>
      <input matInput placeholder="Name" [formControlName]="'username'">
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">Connect</button>
  </form>
  </div>
  <div class="example-container">
    <form [formGroup]="messageSendingfrmgrp" (ngSubmit)="sendMessage()">
      <mat-form-field>
        <input matInput placeholder="Input" [formControlName]="'message'">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Send</button>
    </form>
  </div>


  <div><h1> {{ messageString }} </h1></div>

  <button mat-raised-button color="primary" (click)="disconnectSockeet()">Disconnect</button>
  <!-- <button mat-raised-button color="primary" (click)="Connect()">Connect</button> -->
