<div class="container">
  <div class="row" style="margin-top:30px ; margin-bottom:30px">
    <div class="col-12 .col-md-8"
      style="border-radius: 150px;">

      <!-- Card for representing User wallet -->

      <mat-card class="example-card" style="border-radius: 123px;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="font-size: x-large; font-weight: 800;">{{sessionModel.completename}}</mat-card-title>
          <mat-card-subtitle>Money in Indian Currency (Rupee)</mat-card-subtitle>
        </mat-card-header>
        <div class="row" style="text-align:center">
          <div class="col">
          </div>
          <div class="col" style=" text-align : center ; height : 300px">
            <h1 style="    margin-top: 0px;
            font-size: 150px;
            font-family: inherit;
            font-weight: 100;
            color: darkblue; ">{{sessionModel.wallet.walletmoney}}</h1>
          </div>
          <div class="col">

          </div>
        </div>
        <div class="row">
          <div class="col">

          </div>
          <div class="col" style=" text-align : center ;">
            <h2>Transactions </h2>
          </div>
          <div class="col">

          </div>
        </div>

        <!-- For showing transactions using horizontal simple cards -->

        <div class="container-fluid" class="transaction">
          <div class="row" style="margin-top:10px">
            <div class="col">
              <!-- (mouseover)="applyStyle()" (mouseout)="removeStyle()" [ngStyle]="string" -->
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col">
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col">
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col">
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col">
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
          <div class="row" style="margin-top:10px">
            <div class="col">
              <mat-card class="simple-card">Simple card</mat-card>
            </div>
          </div>
        </div>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
      </mat-card>

      <!-- end of wallet card -->
    </div>
  </div>
</div>
