<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h2 style="padding : 0px 0px 0px 0px ; text-align:center">Questions</h2>
    </div>
  </div>
  <div class="row" style="height:400px">
    <div class="col" style="margin-top:40px ; text-align:center">
      <mat-horizontal-stepper linear #stepper >
        <div *ngFor="let formgroupt of formGroupArray ; let i = index">
          <mat-step [stepControl]="formgroupt" [editable]="isEditable">
            <div class="container-fluid" style="margin-top:40px">
              <div class="row">
                <div class="col">
                  <h4>Problem statement is here ?</h4>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <form [formGroup]="formgroupt">
                    <ng-template matStepLabel></ng-template>
                    <!-- <mat-form-field> -->
                      <!-- <input matInput placeholder="Fill the right ans" formControlName="name" required> -->
                      <mat-radio-group aria-label="Select an option" formControlName="name">
                          <mat-radio-button value="1" >Option 1</mat-radio-button>
                          <mat-radio-button value="2" >Option 2</mat-radio-button>
                          <mat-radio-button value="3" >Option 3</mat-radio-button>
                          <mat-radio-button value="4" >Option 4</mat-radio-button>
                      </mat-radio-group>
                    <!-- </mat-form-field> -->
                    <div>
                      <button mat-button matStepperNext class="btn btn-lg btn-primary">Next</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </mat-step>
        </div>
        <mat-step>
          <!-- <ng-template matStepLabel></ng-template> -->
          <h4>You are now done.</h4>
          <div>
            <!-- <button mat-button matStepperPrevious>Back</button> -->
            <button mat-button (click)="processResults()" class="btn btn-lg btn-primary">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

  </div>

  <div class="row">
    <div class="col" style="text-align:center">
      <h1>Timer</h1>
    </div>
  </div>


</div>
