.example-card {
  max-width: 400px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* box-shadow: 2px 6px 14px 0px rgba(0,0,0,.2), 0px 8px 2px 0px rgba(0,0,0,.14), 1px 5px 3px 0px rgba(0,0,0,.12) */
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.2),
    0px 8px 3px 0px rgba(0, 0, 0, 0.14), 2px 9px 4px 1px rgba(0, 0, 0, 0.12);
}

.example-header-image {
  /* background-image: url('https://image.shutterstock.com/image-photo/g-letter-blue-felt-collection-260nw-510886210.jpg'); */
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  /* background-image:url(".../.../assests/download.png"); */
  background-size: cover;
  background-color: #3f51b5;
}

/* .changeSearchField{
  width:90%;
} */

input[type=search]:focus {
  width: 100%;
  transition: width .8s;
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.2),
    0px 8px 3px 0px rgba(0, 0, 0, 0.14), 2px 9px 4px 1px rgba(0, 0, 0, 0.12);
  height: 55px;
  font-size: x-large;
  color: black;
  border-color: black;
  margin-bottom: 7px;
  border-radius:60px;
  /* text-shadow: 3px 4px 4px #282727b5; */
}

.mid {
  width: 100px;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.1);
  border: solid 2px rgb(0, 204, 0); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* category classes */
.fa-NewPricing-Features .fa-Button {
  width: 100%;
}

.fa-Button--secondary {
  background-color: #fff;
  color: #6488cc;
}

.fa-Button {
  font-size: 17px;
  font-size: 1.0625rem;
  height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-NewPricing-Features-compare-btn {
  border: 2px solid #e6e6e6;
  box-shadow: none;
}
.fa-Button, .fa-PillBtn {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
  font-weight: bolder;
  font-size: 27px;
  border: solid 2px rgb(0, 204, 0);
  color: #847f7f;
  background-color: #fbfafc;
  box-shadow: 0 0 0 1px rgba(0,0,0,.02), 0 1px 5px 0 rgba(100,136,204,.06), 0 4px 15px 0 rgba(0,0,0,.07);
  border-radius: 100px;
  padding: 0 20px;
  min-height: 45px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: background-color .15s ease,box-shadow .15s ease;
  transition: background-color .15s ease,box-shadow .15s ease;
}

a {text-decoration: none;
    color: #4261a2;
    cursor: pointer;
}


