.example-card {
  max-width: 400px;
  width: 320px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.2),
    0px 8px 3px 0px rgba(0, 0, 0, 0.14), 2px 9px 4px 1px rgba(0, 0, 0, 0.12);
  text-align: center;
  border-radius: 23px;

  /* animations  */
  -webkit-animation-name: example;
  /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 0.8s;
  /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 0.8s;

  /* for deciding how many times animation should run */
  /* animation-iteration-count: 3; */

}

@keyframes example {
  0% {
    opacity: 1;
    transform: scale(0, 0);filter:blur(50px);
  }
/*
  50% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);filter:blur(20px);
  } */

  100% {
    opacity: 1;
    transform: scale(1, 1);filter:blur(0px);
  }


  /* 60%  {opacity: 0.6;transform: scale(0.6, 0.6);}
  70% {opacity: 0.7;transform: scale(0.7, 0.7);}
  80% {opacity: 0.8;transform: scale(0.8, 0.8);}
  90%  {opacity: 0.9;transform: scale(0.9, 0.9);} */
}

@-webkit-keyframes example {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }

  50% {
    opacity: 0.5;
    transform: scale(1.1, 1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
   /* 60%  {opacity: 0.6;transform: scale(0.6, 0.6);}
  70% {opacity: 0.7;transform: scale(0.7, 0.7);}
  80% {opacity: 0.8;transform: scale(0.8, 0.8);}
  90%  {opacity: 0.9;transform: scale(0.9, 0.9);} */
}

.button-design {
  font-size:small;
  background-color: rgb(99, 33, 184);
    border-radius: 32px;
    border-color: #ffffff00;
}

.example-header-image {
  /* background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg"); */
  /* background-size: cover;
  background-color: #3f51b5; */
  /* background-image:url(".../.../assests/download.png"); */
  /* background-image: url('https://image.shutterstock.com/image-photo/g-letter-blue-felt-collection-260nw-510886210.jpg'); */
  background-size: cover;
  background-color: #f6c2eb;
  color: black;
  font-size: x-large;
  font-weight: 900;
  font-family: sans-serif;
  font-style: oblique;
}


input[type=search]:focus {
  width: 35%;
  transition: all 0.8s;
  box-shadow: 2px 6px 15px 0px rgba(0, 0, 0, 0.2),
    0px 8px 3px 0px rgba(0, 0, 0, 0.14), 2px 9px 4px 1px rgba(0, 0, 0, 0.12);
  height: 40px;
  font-size: medium;
  color: black;
  border-color: bl;
  margin-bottom: 7px;
  border-radius: 60px;
  border-style: solid;
  border-width: 2px;

  /* text-shadow: 3px 4px 4px #282727b5; */
}

.mid {
  width: 100px;
}

.example-card:hover button{
  background-color: black;
  color: white;
  font-size:medium;
  transition: all 0.3s;
}


#cards:hover .example-card{
  filter:blur(5px);
  transform:scale(0.9);
  transition: all 0.3s;
  transition-timing-function: ease;
}

#cards .example-card:hover{
  z-index: 1;
  filter:blur(0px);
  transform: scale(1.12);
  border: solid 1px rgb(255, 255, 255);
  /*(150% zoom - Note: if the zoom is too large, it will go outside of the viewport)*/
  border-radius: 0px;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  /* background-color: rgba(80, 76, 76, 0.787); */
  color: white;
  font-weight: bold;
  transition: all 0.3s;
}

#cards .example-card:hover .example-header-image{
  background-color: black;
  color: white;
}

/* category classes */
.fa-NewPricing-Features .fa-Button {
  width: 100%;
}

.fa-Button--secondary {
  background-color: #fff;
  color: #6488cc;
}

.fa-Button {
  font-size: 17px;
  font-size: 1.0625rem;
  height: 42px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.fa-NewPricing-Features-compare-btn {
  border: 2px solid #e6e6e6;
  box-shadow: none;
}

.fa-Button,
.fa-PillBtn {
  width: 100%;
  margin-top: 10px;
  -webkit-appearance: none;
  font-weight: bolder;
  font-size: 27px;
  border: solid 2px white;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .02), 0 1px 5px 0 rgba(100, 136, 204, .06), 0 4px 15px 0 rgba(0, 0, 0, .07);
  border-radius: 100px;
  padding: 0 20px;
  min-height: 45px;
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-transition: background-color .15s ease, box-shadow .15s ease;
  transition: background-color .15s ease, box-shadow .15s ease;
  /* background-image:linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%); */
}

a {
  text-decoration: none;
  color: #4261a2;
  cursor: pointer;
}
