/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* width */
::-webkit-scrollbar {
  width: 15px;
  visibility: hidden;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  visibility: hidden;
}


::-webkit-scrollbar-track:hover {
  background: #f1f1f1;
  visibility: visible;
  transition: ease 0.6s;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(101, 91, 104, 0.328);
  border-radius:50px;
  visibility: hidden;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  visibility: visible;
  background:   rgb(154, 85, 245) ;
  border-radius:50px;
  transition: ease 0.6s;
}

.snack-bar-error{
  background-color:rgb(255, 0, 0);
  color:rgb(255, 255, 255);
  font-size:x-large!important;
  font-weight:bold;
}

.snack-bar-error button {
color:black;
background-color:white;
border-radius:50px;
}

.snack-bar-success{
  background-color:rgb(8, 197, 55);
  color:black;
  font-size:xx-large!important;
  font-weight:bold;
  padding:10px 10px 10px 10px ;
}

.snack-bar-success button{
  background-color: white;
  color: black;
  border-radius:50px;
}
